name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  quality-check:
    runs-on: ubuntu-latest
    steps:
      - name: Ambil kode dari repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Cek Kerapian Kode (Linting)
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  docker-build-check:
    runs-on: ubuntu-latest
    needs: quality-check
    steps:
      - name: Ambil kode
        uses: actions/checkout@v3

      - name: Coba Build Docker Image
        run: docker build . --file Dockerfile --tag my-app:test
